.App{
  text-align: center;
}

.changeform {
  color: blue;
}

.changeform:hover {
  color: red;
}

header {
  display: flex;
  justify-content: space-between
}

.user-nav{
  display: flex;
  min-width: 25vw;
  justify-content: space-around;
}